.main-layout{
    width: 100vw;
    height: 100vh;
    background-color: #DEE2E5;
}
.head-strip{
    width: 100vw;
    background-color: white;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.dashboard-item1,.dashboard-item2,.dashboard-item3,.dashboard-item4{
    font-weight: 500;
    text-align: left;
    padding: 0% 1.5%;
    padding-top: 4%;
    font-size: medium;
    width: 24.5%;
    height: 85vh;
}
.item-inner{
    width: 100%;
    max-height: 68.2vh;
    overflow-y: scroll;
    scrollbar-width: none; 
}
.dashboard-item4{
    width: 18%;
}
.head-text{
    display: flex;
    column-gap: 50%;
}
.head-text2{
    column-gap: 40%;  
}
.addBtn{
    cursor: pointer;
}
.addBtn:hover{
    color: black;
}
.add-task{
    margin-top: 4%;
    color: #707A82;
    font-size: 90%;
    cursor: pointer;
}
.add-task:hover{
    color: black;
}
.sort-by{
    outline: none;
    font-size: 85%;
    width: 80%;
    height: 15%;
    background-color: #e78a21;
    padding: 1.5% 2%;
    border-radius: 15px;
    border: none;
    color: white;
}
.sort-by option {
    background-color: white; 
    color: black; 
}
.sort-by-full{
    width: 34%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}