.background{
    width: 120%;
    height: 100vh;
    background-image: url('bgImg2.png');
    background-size: cover;
    background-attachment: fixed;
}
.containerLogin{
    display: flex;
    padding: 0%;
    margin: 0%;
}
.headText{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 480%;
    text-align: left;
    margin-left: 8%;
    color:#3c8f78;
}
.headerText{
    margin-top: 5%;
}
.headText2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 480%;
    text-align: center;
    margin-left: 5%;
    margin-top: -4%;
    color: #e78a21;
}
.loginIcon{
    height: 7vh;
    margin-left: -75%;
}
.loginImg{
    height: 55vh;
    margin-top: 4%;
}
.backgroundInner{
    margin-top: 3%;
}
@keyframes vibrate {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .vibrate {
    animation: vibrate 2s infinite;
  }
 .text2{
    font-size: larger;
    color: #113143;
 }