.add-container{
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding-top: 1%;
}
input,textarea{
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    border: none;
    outline: none;
    word-wrap: break-word;
    background-color: transparent;
}
input:focus,textarea:focus{
    box-shadow: none;
    border: none;
    outline: none;
    background-color: transparent;
}
.task-title{
    font-weight: 700;
    font-size: larger;
}
.task-desc{
    margin-top: 3%;
    resize: none;
}
.btn-tray{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 15%;
}
.btn-tray2{
    padding-right: 5%;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 4%;
}
.date-picker{
    background-color: #e78a21;
    width: 60%;
    padding: 2.5% 0%;
    border-radius: 15px;
    color: white;
    font-size: 90%;
    cursor: pointer;
    text-align: center;
}
.date-picker:focus{
    background-color: #e78a21;
    color: white;
}
.date-picker::placeholder{
    color: white;
}
.task-priority{
    margin-left: -5%;
    font-size: 90%;
    cursor: pointer;
    border-radius: 15px;
    background-color: #e78a21;
    padding: 1% 0%;
    width: 18%;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}
.task-priority option {
    background-color: white; 
    color: black; 
}
.save-btn{
    color: white;
}
.color-picker{
    margin-left: 3%;
}