.card-layout{
    background-color: blue;
    border-radius: 15px;
    width: 95%;
    height: 30%;
    margin-top: -11%;
    margin-left: 2%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 5%;
    color: white;
}
.card-title{
    font-size: large;
}
.card-description{
    margin-top: 2%;
    margin-left: 3%;
    font-size: smaller;
    text-decoration: none;
    word-wrap: break-word;
}
.card-bottom{
    width: 100%;
    display: flex;
    justify-content: right;
    column-gap: 3%;
}
.card-date{
    width: 45px;
    height: 45px;
    font-size: 150%;
    background-color: white;
    border-radius: 5px;
    margin-top: -9%;
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 17px;
}
.month{
    font-size: 50%;
}
.card-priority{
    background-color: white;
    margin-top: -0.1%;
    border-radius: 3px;
    margin-right: 55%;
    height: 20px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 80%;
}
.HIGH{
    color: red;
}
.MID{
    color: orange;
}
.LOW{
    color: green;
}
.card-toggle{
    z-index: 99;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-toggle:hover{
    background-color: rgba(222, 226, 229, 0.4);
}
.drop-down{
    background-color: white;
    color: black;
    position: absolute;
    z-index: 999;
    width: 40%;
    height: 300%;
    margin-bottom: -24%;
    border-radius: 10px;
}
.drop-down-item{
    font-size: 85%;
    font-weight: 500;
    padding-right: 8%;
    width: 100%;
    height: 34%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: center;
}
.drop-down-item:hover{
    background-color: #dee2e580;
}
.delete:hover{
    background-color: rgb(255, 0, 0,0.8);
    color: white;
}
.card-header{
    margin-top: -2%;
    display: flex;
    align-items: center;
    column-gap: 7%;
    justify-content: left;
}
.hide-toggle{
    visibility: hidden;
}
.remove{
    background-color: rgba(0, 0, 0, 0.3);
}
.toggle-dropDown{
    position: relative;
    width: 95%;
    height: 5vh;
    margin-left: 2%;
    display: flex;
    align-items: end;
    justify-content: right;
    padding-right: 2%;
    color: white;
}
.overlay{
    background-color: red;
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 999;
}