.card-layout{
    background-color: blue;
    border-radius: 15px;
    width: 95%;
    height: 28%;
    margin-left: 2%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 5%;
    color: white;
}
.card-title{
    font-size: large;
}
.card-description{
    margin-top: 3%;
    margin-left: 3%;
    font-size: smaller;
    text-decoration: none;
    word-wrap: break-word;
}
.card-bottom{
    width: 100%;
    display: flex;
    justify-content: right;
    column-gap: 60%;
}
.card-date{
    width: 45px;
    height: 45px;
    font-size: 150%;
    background-color: white;
    border-radius: 5px;
    margin-top: -8%;
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 17px;
}
.month{
    font-size: 50%;
}
.card-priority{
    background-color: white;
    margin-top: -0.5%;
    border-radius: 3px;
    height: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 80%;
}
.HIGH{
    color: red;
}
.MID{
    color: orange;
}
.LOW{
    color: green;
}
.card-toggle{
    position: absolute;
    z-index: 99;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: -6.7%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-toggle:hover{
    background-color: rgba(222, 226, 229, 0.4);
}
.drop-down{
    background-color: white;
    color: black;
    position: absolute;
    z-index: 999;
    width: 9%;
    height: 16%;
    margin-top: -6.5%;
    border-radius: 10px;
}
.drop-down-item{
    font-size: 85%;
    font-weight: 500;
    padding-right: 8%;
    width: 100%;
    height: 34%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: center;
}
.drop-down-item:hover{
    background-color: rgba(222, 226, 229,0.5);
}
.delete:hover{
    background-color: rgb(255, 0, 0,0.8);
    color: white;
}
.Done{
    background-color: rgb(0, 0, 255,0.3);
}