.session-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.397);
}
.session-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 3%;
    line-height: 39px;
    background-color: white;
    width: 30%;
    height: 30%;
}
.lower-row{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 9%;
}
.session-btn{
    color: white;
}