.bi{
    color: #e78a21;
    font-size: 150%;
    cursor: pointer;
}
.me-auto{
    margin-left: 40%;
}
.headerIcon{
    height: 100%;
}
.iconCo{
    height: 7vh;
}
.text{
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: 4%;
    color: #ffffff;
}
.canavaBtn{
    display: flex;
    align-items: center;
    column-gap: 4%;
    font-size: 90%;
    color: #ffffff;
}
.canavaIconAdd{
    color:#ffffff;
    font-size: 180%;
}
.canavaIcon{
    color:#ffffff;
}
.userIcon{
    color:#ffffff;
}
.gearIcon{
    font-size: 180%;
}
.logOut{
    display: flex;
    align-items: center;
    column-gap: 4%;
}
.dropdownText{
    text-align: center;
    font-weight: bold;
}
.userWelcome{
    text-align: center;
    margin-left: 15%;
}
.containerHeader{
    margin-left: 8%;
    gap: 35%;
}
.headerRight{
    margin-left: 96%;
}