.deleteHead{
    font-size: 100%;
    text-align: left;
}
.deleteSub{
    font-size: 80%;
    text-align: left;
}
.deleteContainer{
    width: 25vw;
    margin-left: 15.5%;
    position: absolute;
    z-index: 99999999;
}
.deleteIcon{
    margin-left: -94%;
}