.openTaskTitle::placeholder{
    color: black;
}
.openTaskDescription::placeholder{
    color: black;    
}
.deleteIcon{
    color: white;
}
.formInputs{
    width: 96%;
    height: 27.3vh;
    border-radius: 18px;
    margin-top: 1.5vh;
    margin-left: 2%;
    z-index: 999999;
    position: relative;
}
.formInputsButton{
    width: 50%;
    z-index: 999999;
    position: relative;
}
