.searchContainer{
    width: 28%;
    margin-left: 37%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
}
.searchTitle{
    margin-left: 8%;
    width: 82%;
}
.searchIcon{
    position: absolute;
    height: 20px;
    left: 4%;
    top: 14%;
}
.searchHeadings{
    text-align: left;
    padding-left: 4.5%;
    font-size: 75%;
    padding-bottom: 2%;
}
.sortBtn{
    display: flex;
    padding-left: 4.9%;
}
.dropBtn2:hover{
    background-color: transparent;
    color: black;
}
.datePick2{
    width: 53%;
    color: black;
    border-color: black;
}
.datePick2:focus{
    box-shadow: none;
    border-color: black;
    color: black;
}
.sortSearch{
   height: 4.8vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   right: 4%;
}
.sortDrop{
    margin-left: -22%;
}
.closeIconSearch{
    position: absolute;
    height: 20px;
    right: 4%;
    top: 14%;
    cursor: pointer;
}