.taskCard{
    width: 80%;
    cursor: pointer;
    margin-bottom: 2%;
}
.cardHeader{
    display: flex;
}
.cardHeaderR{
    margin-left: 63%;
}
.taskIcon{
    color: white;
    font-size: 80%;
}
.hoverCard:hover{
    background-color: #3c8f78;
}
.hoverCard{
    background-color: #2e715e;
}