.todayContainer{
    width: 50vw;
    text-align: left;
    padding: 6% 0%;
}
.todayHeader{
    font-weight: bold;
    font-size: 260%;
}
.taskCount{
    font-size: 110%;
}
.taskCountIcon{
    font-size: 100%;
}