.updateForm{
    background-color: transparent;
    position: fixed;
    z-index: 999999;
    width: 34vw;
    height: 28vh;
}
.updateButtonContainer{
    margin-top: 29.8vh;
    margin-left: 23.8vw;
}
.closeBtnHide{
    position: absolute;
    z-index: 9999999;
    top: 3%;
    right: 2%;
    background-color: white;
    height: 40px;
    width: 40px;
}